# Normalize line endings to LF on commit, checkout as LF everywhere
* text=auto eol=lf

# Force binary files to never be changed
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
*.woff binary
*.woff2 binary
*.ttf  binary
*.eot  binary
